<!DOCTYPE html>
<html>
<head>
	<title>Veezing</title>
</head>

<body>
<h1>veezing.com</h1>
<ul>
  <li><a href="../login">login</a></li>
  <li><a href="../sign_up">signup</a></li>
  <li><a href="../user_zings">my zings</a></li>
  <li><a href="/logout">logout</a></li>
</ul>
<%= yield %>
</body>
</html>