<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<title>Veezing</title>
</head>

<body>
<h1>veezing.com</h1>
<nav>
<ul>
  <li><a href="../login">login</a></li>
  <li><a href="../sign_up">signup</a></li>
  <li><a href="/zings/">my zings</a></li>
  <li><a href="/logout">logout</a></li>
</ul>
</nav>
<%= yield %>
</body>
</html>



