<ul>
<% @zings.each do |zing| %>
	<li> 
	<p><%= zing.user.email%></p>
	<h1><p><%= zing.video.title %></p></h1>
		<p><%= zing.video.desc %></p>
	
	
  <iframe width="560" height="315" src="<%= zing.video.video_url %>" frameborder="0" allowfullscreen></iframe> 
  </li>

	</li>
	<% end %>
</ul>